{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Удалить рассылку {{ object.title }}?</p>
                        <button type="submit" class="btn btn-danger"
                                title="Полностью удалить">Удалить
                        </button>
                        <a href="{% url 'newletter:message_detail' object.pk %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}